<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>

    <key>teamID</key>
    <string>P4N43F569L</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>com.github.gmlewis.liverpool-rummy-english</key>
        <string></string>
    </dict>

    <key>compileBitcode</key>
    <false/>
</dict>
</plist>

